:root{
    --header-bg:#d6c568; /* Light gold */
    --header-border:#c4a915; /* Dark gold */
    --container-bg:#ebdeb4; /* Parchment */
    --headings: #423613; /* Dark brown */
}
*,*::before,*::after{
    box-sizing: border-box; 
}

.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
    grid:
        "header header header" auto
        "leftSide body rightSide" 1fr
        "leftSide body rightSideAlt" auto
        "footer footer footer" auto
        / auto 1fr auto;
  gap: 8px;
}

.header { grid-area: header; }
.leftSide { grid-area: leftSide; }
.body { grid-area: body; }
.rightSide {grid-area: rightSide; }
.rightSideAlt {grid-area: rightSideAlt; }
.footer { grid-area: footer; }

#FeedContainer { grid-area: body; }
#TrendingContainer { grid-area: rightSide; }
#AdvertContainer { grid-area: rightSideAlt; }

/* Funky Effects */
.embossed {
    text-shadow:
        1px 1px 2px #2c2727,
        /* highlight (top-left) */
        -1px -1px 2px #908585;
    /* shadows (bottom-right) */
}
 
/* Header */
header {
    background-color: var(--header-bg);
    border-bottom: 4px ridge var(--header-border);  
    font-family: 'Cinzel', serif;
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    margin: 10px;
    vertical-align: middle;
}

header > h1 {
    padding-top: 15px;
    display: inline-block;
    color: var(--headings); 
    font-size: 3rem;
    vertical-align: middle;
}

header > #signin, header > #signup {
  margin-right: 10px;
}

header > #signin:hover, header > #signup:hover {
    background-color: var(--header-border);
    border-color: var(--header-bg);
    color: var(--headings);
}

header > #searchBar {
    width: 300px;
    margin-right:10px;
    margin-left: auto;
}

/* Body */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/map.png');
    background-size: fill;
    filter: blur(5px);
    z-index: -1;
}

/* Hero of the week */

#HOTWContainer {
    background-color: var(--container-bg);
    border: 2px solid var(--header-border);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;   
}

#HOTWContainer h2 {
    color: var(--headings);
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    text-align: center;
}

/* Posts */

#CreatePostsContainer {
    background-color: var(--container-bg);
    border: 2px solid var(--header-border);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

#CreatePostsContainer label {
    color: var(--headings);
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    text-align: center;
}

/* Feed */

#FeedContainer {
    background-color: var(--container-bg);
    border: 2px solid var(--header-border);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

/* Trending */

#TrendingContainer {
    background-color: var(--container-bg);
    border: 2px solid var(--header-border);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

/* Advert */

#AdvertContainer {
    background-color: var(--container-bg);
    border: 2px solid var(--header-border);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

/* Footer */
footer {
    background-color: var(--header-bg);
    border-top: 4px ridge var(--header-border);
    text-align: center;
    padding: 10px 0;
    font-family: 'Cinzel', serif;
    font-size: 15px;
}

footer p {
    margin: 5px 0;
}

footer p:nth-child(3) {
  font-size: 70%;
}