::root{
    --header-bg:#d6c568; /* Light gold */
    --header-border:#c4a915; /* Dark gold */
    --container-bg:#ebdeb4; /* Parchment */
    --headings: #423613; /* Dark brown */
}

.layout {
  width: 100%;

  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / auto 1fr auto;
  gap: 8px;
}

.header { grid-area: header; }
.leftSide { grid-area: leftSide; }
.body { grid-area: body; }
.rightSide { grid-area: rightSide; }
.footer { grid-area: footer; }

/* Funky Effects */
.embossed {
    text-shadow:
        1px 1px 2px #2c2727,
        /* highlight (top-left) */
        -1px -1px 2px #908585;
    /* shadows (bottom-right) */
}
 